配布されたデータで簡単な機械学習モデルを作成する練習

In [1]:
import os
import sys
import numpy as np
import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

今回使用するデータはtrain-0.csv   
加工はしてあるが精度の保証はしていない

In [3]:
data = pd.read_csv('train-0.csv')
data.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,OCCUPATION_TYPE_nan
0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,-1186.0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,-9833.0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,-4311.0,...,0,0,0,0,0,0,0,0,0,0

学習用とテスト用に分割

In [5]:
data_X = np.array(data.iloc[:,1:])
data_y = np.array(data.iloc[:,0]).reshape(-1,1)

train_X, test_X, train_y, test_y = train_test_split(data_X, 
                                                    data_y, 
                                                    test_size=0.2,
                                                    random_state=0)

学習

In [7]:
gb_model = GradientBoostingClassifier()
gb_model.fit(train_X, train_y)

/usr/local/lib/python3.5/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

評価   
学習データのAUCが0.95となってる一方テストデータのAUCが0.45となっているためかなり過学習した結果になっているとわかる。

In [8]:
y_pred_train = gb_model.predict(train_X)
AUC_score_train = roc_auc_score(y_pred_train, train_y)
y_pred_test = gb_model.predict(test_X)
AUC_score_test = roc_auc_score(y_pred_test, test_y)

print('Train AUC: %f' % AUC_score_train)
print('Test AUC: %f' % AUC_score_test)

Train AUC: 0.959726
Test AUC: 0.458996